/* Custom CSS (mostly by Jaimyn lol) */

#search-form {
    margin-top: 10px;
    margin-bottom: 30px;
}

.info-map iframe {
    width:100%; min-height:300px;
}

p {
    padding: 5px 0;
}

.collapsible-body {
    padding: 0;
}

.card .card-image .card-title {
    left: auto;
    right: 0;
}

.card-title-text {
    padding-right: 95px!important;
    background-color: rgba(0, 0, 0, 0.2);
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#logo-image {
    max-height: 100px;
    margin-top: 10px;
}

ul.right {
    margin-top: 25px;
}

#desktop_greeting {
    margin: 0;
    padding: 0px 15px;
}

#mobile_greeting {
    color: rgba(0, 0, 0, 0.87);
    padding: 10px 32px;
}

.menu-item {
    font-size: 1.5em;
}

.header {
    margin-bottom: 0;
}

.section {
    padding-top: 0;
}

footer a {
    color: white;
    text-decoration: underline;
}

nav .button-collapse {
    padding-top: 10px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}


/* Responsive Stuff */

@media only screen and (min-width: 601px) {
    nav {
        height: 120px;
    }
}

@media only screen and (max-width: 601px) {
    nav {
        height: 75px;
    }
    #logo-image {
        max-height: 55px;
    }
}