{% extends 'production/base.html' %}

{% block title %}Admin{% endblock %}
{% block page_title %}Admin Dashboard{% endblock %}

{% block content %}

<div class="card-tabs data-card-tabs">
    <ul class="tabs tabs-fixed-width">
        <li class="tab data-tab"><a class="active" href="#add">Add Data</a></li>
        <li class="tab data-tab"><a href="#edit">Edit Data</a></li>
    </ul>
</div>
<div class="card-content grey lighten-4">
    <div id="add">
        <form method="post">
            {% csrf_token %}
            {{ admin_form.as_p }}

            <button class="btn waves-effect waves-light" type="submit" name="adduser">Add Data Item
                <i class="material-icons right">arrow_forward</i>
            </button>
        </form>
    </div>
    <div id="edit">
        <h4>PLACEHOLDER</h4>
    </div>
</div>

{% endblock %}