<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart City</title>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Molle:400i" rel="stylesheet">
    {% load staticfiles %}
<link rel='stylesheet' href="{% static 'production/style.css'%}" type='text/css' />

    <meta name="description" content="Smart City">
</head>
<body>
    <main>


    <header id="top">
        <a href="header.html">Smart City</a>
    </header>


    <nav>
		<ul class="gnb">
    		<li><a href="#">Sign Up</a></li>
            <li><a href="#">Sign In</a></li>
            <li><a href="#">View</a></li>
    	</ul>
    </nav>

    <section id="content">

				<aside>

				</aside>

				<article class="home-content">

                    <br><h1>Sign Up</h1><hr><br>

                    <div>
                        {% block content %}
                        {% endblock %}
                    </div>




                    <br><br>

                    <a href="#top">TOP</a>


				</article>



        </section>

            <footer>
				&copy; 2017 IFB299 Web Application
			</footer>


    </main>

</body>
</html>