{% extends 'production/base.html' %}

{% block title %}Find Info{% endblock %}
{% block page_title %}Find Info{% endblock %}

{% block content %}
  <ul class="collection">
    <li class="collection-item avatar">
      <i class="material-icons circle">school</i>
      <span class="title">Le Shite Schoole</span>
      <p>Informations <br>
         More Informations
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">school</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">business_center</i>
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
{% endblock %}