{% extends 'production/base.html' %}

{% block content %}
<h3>Student</h3><hr><br>


<h5>Study in Brisbane</h5>

<p>Brisbane is the capital city of Queensland and, with a population of 2.2 million, is the third most populous city in Australia. Brisbane is Australia’s New World City, and extremely culturally diverse. It is one of the major business hubs of Australia and one of the fastest growing state economies in the country. So why should you, as an international student, choose to study there?</p><br><br>

<h5>Quality of Life</h5>
<p>Brisbane has one of the lowest costs of living on any capital city in Australia. Tuition in Brisbane is low, particularly in comparison to the quality of the education it buys. This is ideal for international students looking for an affordable place to study. Brisbane is a safe and friendly city, with an easy to navigate public transportation system. Brisbane also has more sunny days per year than any other Australian capital city.</p><br><br>

<h5>International Students in Brisbane</h5>
<p>Brisbane is the most inclusive study destination in Australia. It is home to Australia’s largest city Orientation Day: the Brisbane Welcomes International Students Festival, which gives international students a chance to explore everything that Brisbane has to offer, then personally meet the Lord Mayor and enjoy free music and food. This is followed by the chance to network at the regular Lord Mayor’s International Students Friendship Ceremony.</p>

<p>Brisbane is an extremely culturally diverse city, with 21.7% of residents born outside Australia and 16% speaking a language other than English at home. For this reason, Brisbane is an exceptionally inclusive city, and international students will feel right at home there. They will also have the opportunity to meet people from all over the world, not just Australia.</p><br><br>

<h5>Location</h5>
<p>International students who study in Brisbane will have the opportunity to travel and explore outside the city. Brisbane is the gateway to three of the world’s largest sand islands and sub-tropical hinterland rainforests: the Gold Coast and the Sunshine Coasts. Each of these are under two hours’ travel away.</p><br><br>


<h5><strong>Universities in Brisbane</strong></h5>

<table>
    
<tr>
        <td>name</td>
        <td>address</td>
        <td>campus</td>
        <td>email address</td>
</tr>


</table><br><br>

<h5><strong>Libraries in Brisbane</strong></h5>

<table>
    
<tr>
        <td>name</td>
        <td>address</td>
        <td>phone number</td>
        <td>email address</td>
</tr>


</table><br><br>

<h5><strong>City Information of Brisbane</strong></h5>




<table>
<tr>
    <th>Parks</th>
</tr>
<tr>
        <td>name</td>
        <td>address</td>
        <td>phone number</td>
        <td>email address</td>
</tr>

</table>


<table>
    
    
    
<tr>
    <th>Zoos</th>
</tr>
<tr>
        <td>name</td>
        <td>address</td>
        <td>phone number</td>
        <td>email address</td>
</tr>

</table>




<table>
<tr>
    <th>Museums</th>
</tr>
<tr>
        <td>name</td>
        <td>address</td>
        <td>phone number</td>
        <td>email address</td>
</tr>

</table>


<table>
<tr>
    <th>Malls</th>
</tr>
<tr>
        <td>name</td>
        <td>address</td>
        <td>phone number</td>
        <td>email address</td>
</tr>

</table>


<table>
<tr>
    <th>Restaurants</th>
</tr>
<tr>
        <td>name</td>
        <td>address</td>
        <td>phone number</td>
        <td>email address</td>
</tr>

</table>



<table>
<tr>
    <th>City Map</th>
</tr>
        <tr>

                <td>

                            {% load staticfiles %}
    <img src="{% static 'production/img/city_map.png'%}" alt="city_info" width="700px" />

                </td>

        </tr>


</table>

{% endblock %}